* {
    margin: 0;
}

body{
    width: 100%;
    position: relative;
}
.dark-theme {
    background-color: $secondary-color;
    color: $primary-color;
}

.nav .dark-theme{
    background-color: $secondary-color;
}

