// ABOUT SECTION, INFO, etc.
.cart_modal {
    font-family: 'Carrois Gothic', sans-serif;
    display: none;
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    overflow:auto;
    min-width: 45vw; 
    min-height: 50vh;
    max-width: 45vw;
    max-height: 50vh;
    background-color: $primary-color;
    border-style: ridge;
    padding: 2%;
    > img {
        position: absolute;
        top:1%;
        right: 1%;
        width: 7%;
        height: 7%;
    }
}

.shopping_cart {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    & > div {
        flex: 1;
        display:flex;
        align-items:center;  
        padding : 1%;
        border-bottom: 1px solid lightgrey;
    }
}

.dish {
    span {
        flex:35%;
    }
    span:first {
        flex:15%;
    }
}

.dish_thumbnail {
    width: 75px;
    height: 75px;
}

.dish_name {
    padding-left: 1%;
    flex : 25%;
}

.dish_quantity {
    display:flex;
    align-items: center;
    & > img {
        padding: 0 2%;
        width: 25px;
        height: 25px;
    }
}

.total {
    display: flex;
    border-top: 3px solid black;
    font-weight: bold;
    .checkout {
        text-justify: center;
        background-color: rgb(81, 199, 81);
        color:white;
        font-weight: bold;
        padding:  10px;
        border:none;
        border-radius: 25px;
    }
    span {
        flex: 1;
    }
    span:first-of-type {
        flex:3;
    }
}