// ABOUT SECTION, INFO, etc.
.cart_modal {
    position: fixed;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 16px;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.shopping_cart {
    border-radius: 10px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 3%;
    min-width: 50%;
    max-width: 50%;
    min-height: 50vh;
    max-height: 50vh;
    align-content:center;
    border-style: ridge;
    background-color: white;
    position: absolute;
    overflow: auto;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    > img {
        position: absolute;
        top: 3%;
        right: 1%;
        width: 7%;
        height: 7%;
        &:hover {
            transform: scale(120%);
        }
    }
    & > div {
        display:flex;
        justify-content: center;
        padding : 1%;
        > span {
            flex: 1;
            text-align: center;
        }
        > span:first-of-type{
            text-align: left;
            flex:2;
            padding-left: 1%;
        }
        > span:last-of-type {
            padding-right: 2%;
            text-align: right;
        }
    }
}

.empty {
    line-height: 5vh;
}

.title {
    margin-top:5%;
    font-weight: bold;
    text-transform : uppercase;
    border-bottom : 1px solid lightgrey;
}

.dish_name {
    text-align: left;
    padding-left: 1%;
    flex : 25%;
}

.dish_quantity {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items:center;
    & > img {
        padding: 0 2%;
        width: 25px;
        height: 25px;
    }
}

.total {
    display: flex;
    border-top: 3px solid black;
    font-weight: bold;
    font-size: 18px;
    span {
        width: 50%;
    }
    span > img {
        width: 40px;
        height: 40px;
    }
}

.checkout {
    text-align: right;
    font-size: 18px;
    background-color: rgb(130, 212, 130);
    color:white;
    font-weight: bold;
    padding: 15px 13px;
    border:none;
    border-radius: 25px;
}

.shopping_cart:last {
    border: 1px solid red;
}

.shopping_cart.dark-theme {
        color : white;
        background-color: rgb(57, 57, 57);
    #closeModal {
        filter: invert(1);
    }
    .total  {
        border-top : 3px solid white;
    }
}


//responsivity 
@media (max-width: 700px) {
    .shopping_cart {
        min-width: 70%;
        max-width: 70%;
    }
}