// ABOUT SECTION, INFO, etc.
.shopping_cart {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    border: 1px solid grey;
    margin: 1%;
    & > div {
        flex: 10%;
        padding : 1%;
    }
}

.dish {
    display: flex;
    border-top: 1px solid lightgrey;
    & > * {
        align-self: center;
    }
    button {
        border: none;
        background: none;
        &:hover {
            cursor: pointer;
        }
    }
}

.dish_thumbnail {
    flex : 15%;
    width: 75px;
    height: 75px;
}

.dish_quantity {
    flex: 10%;
}

.dish_name {
    padding-left: 3%;
    flex : 15%;
}

.line_total {
    flex: 10%;
}

.total {
    border-top: 3px solid black;
    font-weight: bold;
    display: flex;
    span {
        flex : 50%;
        text-align: right;
        padding-right : 20%;
    }
    .checkout {
        background-color: rgb(81, 199, 81);
        color:white;
        font-weight: bold;
        padding:  10px;
        text-align: left;
        border:none;
        border-radius: 25px;
    }
}