header {
    width: 100%;
    height: 70vh;
    
    .container {
        height: 100%;
        background-image: url("./../images/bg-light.svg");
        background-position: center;
        background-size: cover;
        width: 100%;
        box-sizing: border-box;

    nav{
        background-color: $primary-color;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding: 50px;
        align-items: center;
        height: 50px;
        width: 100%;
        position: fixed;
        top: 0;


img.logo{
    margin-top: 30px;
    margin-bottom: 30px;
        width: 50%;
        height: 70px;
        justify-content: flex-start;

    }
    
    ul {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        margin-right: 50px;

        #icon {
            width: 25px;
            height: 25px;
            cursor: pointer;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
        }
        li {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            font-family: Merriweather;
            font-size: 20px;
        }
    }
        } }


        
    h1{
        padding-top: 20vh;
        font-family: Berkshire Swash;
        font-size: 5vh;
        font-weight: 700;
        text-align: center;
    }

    p{
        text-align: center;
        font-family: Merriweather;
        font-size: 2vh;
        padding: 20px;
    }

    i{
        text-align: center;
        // padding-bottom: 20px;
    }
}

