// import fonts 
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Carrois+Gothic&family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Carrois+Gothic&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nanum+Gothic&display=swap');


$primary-color: white;
$secondary-color: black;

$yellowish: #DFEC53;
$button-padding: 5px 10px;
$button-border-radius: 10px;
$button-font-size: 16px;