@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Carrois+Gothic&family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Carrois+Gothic&family=Nanum+Gothic&display=swap");
* {
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

.dark-theme {
  background-color: black;
  color: white;
}

header {
  width: 100%;
  height: 600px;
}
header .container {
  height: 600px;
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header .container nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  height: 50px;
}
header .container nav .logo {
  font-size: 30px;
}
header .container nav ul {
  list-style: none;
  display: flex;
}
header .container nav ul #icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
header .container nav ul li {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  font-family: Carrois Gothic;
  font-size: 15px;
}
header .container h1 {
  margin-top: 20px;
  padding: 50px;
  font-family: Berkshire Swash;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
header .container p {
  text-align: center;
  font-size: 20px;
  font-family: Carrois Gothic;
  font-size: 20px;
  padding: 20px;
}
header .container i {
  text-align: center;
}

.shopping_cart {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  border: 1px solid grey;
  margin: 1%;
}
.shopping_cart > div {
  flex: 10%;
  padding: 1%;
}

.dish {
  display: flex;
  border-top: 1px solid lightgrey;
}
.dish > * {
  align-self: center;
}
.dish button {
  border: none;
  background: none;
}
.dish button:hover {
  cursor: pointer;
}

.dish_thumbnail {
  flex: 15%;
  width: 75px;
  height: 75px;
}

.dish_quantity {
  flex: 10%;
}

.dish_name {
  padding-left: 3%;
  flex: 15%;
}

.line_total {
  flex: 10%;
}

.total {
  border-top: 3px solid black;
  font-weight: bold;
  display: flex;
}
.total span {
  flex: 50%;
  text-align: right;
  padding-right: 20%;
}
.total .checkout {
  background-color: rgb(81, 199, 81);
  color: white;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  border: none;
  border-radius: 25px;
}

main section h1 {
  font-family: Berkshire Swash;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
main section ul {
  padding: 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main section ul li {
  padding: 20px;
}

.shopping_cart {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  border: 1px solid grey;
  margin: 1%;
}
.shopping_cart > div {
  flex: 10%;
  padding: 1%;
}

.dish {
  display: flex;
  border-top: 1px solid lightgrey;
}
.dish > * {
  align-self: center;
}
.dish button {
  border: none;
  background: none;
}
.dish button:hover {
  cursor: pointer;
}

.dish_thumbnail {
  flex: 15%;
  width: 75px;
  height: 75px;
}

.dish_quantity {
  flex: 10%;
}

.dish_name {
  padding-left: 3%;
  flex: 15%;
}

.line_total {
  flex: 10%;
}

.total {
  border-top: 3px solid black;
  font-weight: bold;
  display: flex;
}
.total span {
  flex: 50%;
  text-align: right;
  padding-right: 20%;
}
.total .checkout {
  background-color: rgb(81, 199, 81);
  color: white;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  border: none;
  border-radius: 25px;
}

.berkshire-swash-regular {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
}

div.menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}

div.menu-item {
  width: 360px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 360px;
  height: 241px;
  display: flex;
  justify-content: center;
  top: 20px;
}/*# sourceMappingURL=style.css.map */